[submodule "flutter"]
	path = flutter
	url = https://github.com/beastoin/flutter.git
[submodule "flutter-desktop-embedding"]
	path = flutter-desktop-embedding
	url = https://github.com/beastoin/flutter-desktop-embedding.git
[submodule "app"]
	path = app
	url = git@github.com:beastoin/tldr-comm.git
