[submodule "flutter"]
	path = flutter
	url = https://github.com/beastoin/flutter.git
[submodule "flutter-desktop-embedding"]
	path = flutter-desktop-embedding
	url = https://github.com/beastoin/flutter-desktop-embedding.git
